/* Styles */
body {
  margin: 15px;
}

.g1 {
	color: #a50006;
}

.ge {
	color: #3b9c00;
}

.gshow {
	color: #ff7f00;
}

.center-fs-app {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  min-height: 95vh;
  align-items: center;
}